#status {
  font-weight:bold;
  font-size:200%;
  width:200px;
}

#board {
  margin:auto;
  border:4px solid black;
  display:grid;
  grid-template:repeat(19, 1fr) / repeat(19, 1fr);
}

.square {
  border:1px solid black;
  box-sizing:border-box;
  text-align:center;
}

#start {
  margin:10px 0px 10px 0px;
}