#status {
  font-weight:bold;
  font-size:200%;
  width:200px;
}

#board {
  margin:auto;
  border:4px solid black;
  position:relative;
}

.square {
  border:1px solid black;
  box-sizing:border-box;
  text-align:center;
  position:absolute;
}

#start {
  margin:10px 0px 10px 0px;
}